<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>75284285566-7rh94m4vasu19dricn67m8s1gkfpon7a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.75284285566-7rh94m4vasu19dricn67m8s1gkfpon7a</string>
	<key>API_KEY</key>
	<string>AIzaSyDcvP4I-fQfa0DcDAOXg78d2y-Vox9Jn7E</string>
	<key>GCM_SENDER_ID</key>
	<string>75284285566</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.xaerion.SnapchatClone</string>
	<key>PROJECT_ID</key>
	<string>snapchatfirebase-49efc</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchatfirebase-49efc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:75284285566:ios:18bd38301954ee375f702f</string>
</dict>
</plist>